

.mainBodyListing {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .mainBodyListing {
        width: 100%;
    }
}

.allImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
}

.imageCol {
    display: flex;
    flex-direction: column;
}

.imageButton {
    background: none;
    border: none;
    transition: scale 0.3s;
}

.imageButton:hover {
    scale: 120%;
}

.imageSmall {
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.imageSelectedBody {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imageSelected {
    height: 600px;
    width: auto;
    max-width: 600px;

    object-fit: cover;
}

.textArea {
    margin-left: 5%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.addToCart {
    background-color: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: grey solid 1px;
    transition: scale 0.3s;
}

.addToCartNoneLeft {
    background-color: grey;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: grey solid 1px;
    transition: scale 0.3s;
}

.addToCart:hover {
    scale: 120%;
}
.addToCart:active {
    background: grey;
}


.nameDiv {
    color: black;
    font-size: 30px;
    border-bottom: black solid 2px;
    margin-bottom: 10px;
    margin-right: auto;
}

.priceListing {
    display: inline-block;
    font-variation-settings: "wght" 800;
    font-size: 20px;
    color: var(--price);
    border-bottom: 3px solid var(--accent);
}

@media (max-width: 700px) {
    .imageSelected {
        height: 500px;
        max-width: 500px;
    }
    .imageSelectedBody {
        height: 500px;
        width: 500px;
    }
    .imageSmall {
        height: 70px;
        width: 70px;
    }
    .textArea {
        margin-left: 0%;
    }
    .nameDiv {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .imageSelected {
        height: 400px;
        max-width: 400px;
    }
    .imageSelectedBody {
        height: 400px;
        width: 400px;
    }
    .imageSmall {
        height: 50px;
        width: 50px;
    }
    .textArea {
        margin-left: 0%;
    }
    .nameDiv {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .imageSelected {
        height: 350px;
        max-width: 350px;
    }
    .imageSelectedBody {
        height: 350px;
        width: 350px;
    }
    .imageSmall {
        height: 50px;
        width: 50px;
    }
    .textArea {
        margin-left: 0%;
    }
    .nameDiv {
        font-size: 20px;
    }
}


@media (max-width: 400px) {
    .imageSelected {
        height: 300px;
        max-width: 300px;
    }
    .imageSelectedBody {
        height: 300px;
        width: 300px;
    }
    .imageSmall {
        height: 50px;
        width: 50px;
    }
    .textArea {
        margin-left: 0%;
    }
    .nameDiv {
        font-size: 20px;
    }
}


.brandDiv {
    color: grey;
    font-size: 15px;
    margin-right: auto;
    margin-bottom: 20px;
}

.stockDiv {
    font-size: 15px;
    margin-left: auto;
    color: grey;
}

.cartCount {
    font-size: 15px;
    color: grey;
}

.stockBrandArea {
    display: flex;
    flex-direction: row;
    width: 100%;
}

